body {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg,#ff5b00 50%, rgba(80,80,80,.35) 50%);

}

.animation-wrapper {
  width: 50%;
  padding-bottom: 50%;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 2px;
  stroke: rgba(80,80,80,.35);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

nav{
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 8vh;
  height: 10vh;
  /* background-color: black; */
  font-family: 'Libre Baskerville', serif;
}

.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
}

.SignIn{
  cursor: pointer;
  color: #ff5b00;
  border-radius: 16px;
  padding: 5px 10px;
  line-height: 1;
  background-color: rgba(80,80,80,1);
}
.SignUp{
  cursor: pointer;
  border-radius: 16px;
  padding: 5px 10px;
  line-height: 1;
  background-color: #ff5b00;
}

.SignIn:hover,.SignUp:hover{
  transform: scale(1.2);
}

.SignIn:active,.SignUp:active{
  transform: scale(1);
}

.nav-links{
  z-index: 1;
  display: flex;
  justify-content: space-around;
  width: 30em;
}
.nav-links li{
  list-style: none;
}
.nav-links button{
  cursor: pointer;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: large;
}
section{
  display: none;
  position: absolute;
  align-items: center;
  height: 50%;
  width: 50vh;
  background-color: rgba(255,255,255,0.5);
  margin: 10% 40%;
  border-radius: 16px;
  z-index: 1;
}
form{
  text-align: center;
  margin-top: 20px;

}

form label{
  color: #ff5b00;
}
form input{
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgba(80,80,80,0.1);
  border: black;
}
#submit{
  background-color: #ff5b00;
}
header{
  display: none;
  position: absolute;
  align-items: center;
  height: 50%;
  width: 50vh;
  background-color: rgba(255,255,255,0.5);
  margin: 10% 40%;
  border-radius: 16px;
  z-index: 1;
}
header form{
  text-align: center;
  margin-top: 20px;
}
header form label{
  color: black;
  margin-bottom: 10px;
}
header form input{
  height: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0.5);
  border: black;
  color: white;
  padding: 5px;
}
#login{
  color:white;
  font-weight: bolder;
  font-variant-caps: all-petite-caps;
  width: 100px;
  background-color: black;
}

#login:hover{
  transform: scale(1.2);
}
#login:active{
  transform: scale(1);
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 1px;
  }
  .SignIn{
    cursor: pointer;
  }
}
